<%= form_with(model: hike, local: true) do |form| %>
  <% if hike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hike.errors.count, "error") %> prohibited this hike from being saved:</h2>

      <ul>
        <% hike.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="file">
      <label class="file-label">        
        <%= form.file_field :path_file, class: 'file-input' %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
      </label>
    </div>    
    
  </div>
  

  <div class="actions">
    <%= form.submit class: 'button' %>
  </div>
<% end %>