<p id="notice"><%= notice %></p>

<script>
	var PATH_DATA = '<%= raw(@hike_json) %>'
</script>


<%= link_to 'Edit', edit_hike_path(@hike) %> |
<%= link_to 'Back', hikes_path %>

<%= javascript_pack_tag 'map3d' %>