<!DOCTYPE html>
<html>
  <head>
    <title>Trails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script>
      var API_TOKEN = "<%= ENV['MAPBOX_API_TOKEN'] %>"
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <%= yield %>      
      </div>
    </section>
  </body>
</html>
